@model Project.Models.Movie
@{

}

<style>

    .row .icon-wrapper {
        margin-bottom: 20px;
    }

    .section .container {
        margin-bottom: 70px;
    }

    .icon-wrapper p {
        padding-left: 0px;
    }
</style>
<div class="all-title-box">
    <div class="container text-center">
        <h1>Order</span></h1>
    </div>
</div>

<div id="overviews" class="section lb">
    <div class="container">


        <form method="post" asp-action="MovieOrder" asp-controller="CustomerOrder">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane active fade show" id="tab1">
                            <div class="row text-center">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                                        <img style="width:190px;height:190px;border:solid 1px black;margin:0 0 5px 20px" src="@Model.img"></img>
                                        <h1>@Model.name</h1>
                                        <p>

                                            @Model.content

                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <h2><strong>@Model.price $</strong></h2>

                                        </div>

                                    </div><!-- end icon-wrapper -->
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">

                                    <div>
                                        <div>

                                            <h3>Pay Type</h3>
                                            <div>
                                                <input type="radio" name="pay_type" value="paypal"
                                                       checked>
                                                <label for="huey">Paypal Banking</label>
                                            </div>

                                            <div>
                                                <input type="radio" name="pay_type" value="COD">
                                                <label for="dewey">COD</label>
                                            </div>
                                        </div>
                                        <div>
                                            <h3>Total Payment</h3>
                                            <input name="total_money" type="text" readonly value="@Model.price" />$
                                        </div>

                                        <input name="movies_id" type="text" hidden value="@Model.id" />

                                        <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- end row -->
                </div><!-- end pane -->
                </div>

        </form>
    </div><!-- end container -->
</div><!-- end section -->
