@*@model IEnumerable<Project.Models.SetUpBox>*@
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Project.Models.SetUpBox>
@{
    int currentPage = ViewBag.currentPage;
    ViewData["Title"] = "Index" + currentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .set_up_box_content{
        min-height: 210px !important;
    }
</style>
<div class="all-title-box">
    <div class="container text-center">
        <h1>Set Up Box<span class="m_1">"Unleash your TV's potential with Set-Top Box"</span></h1>
    </div>
</div>

<div id="hosting" class="section wb" style="background: rgb(248, 248, 248)">
    <div class="container">
       
        <div class="row dev-list text-center">
             @foreach (var item in Model) {
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                    <div class="widget server clearfix">
                        <img style="width:300px;height:300px;" src="@item.img" alt="" class="img-fluid">
                        <div class="inner-dit set_up_box_content">
                            <div class="widget-title">
                                <h3>@item.name</h3>
                                <br>
                                <strong>$@item.price</strong>
                            </div>
                            <!-- end title -->
                            <p>@item.details</p>
                        </div>

                        <hr>

                     


                        <a asp-controller="CustomerOrder" asp-action="SetUpBoxOrder" asp-route-id="@item.id" class="hover-btn-new"><span>Order Now</span></a>

                    </div><!--widget -->
                </div><!-- end col -->
            }
           
        </div><!-- end row -->
        <ul class="pagination mt-5 paginated">
            <pager class="pager-container" list="@Model" asp-controller="SetUpBox" asp-action="Index"></pager>
        </ul>
    </div><!-- end container -->
</div>



<div class="parallax section dbcolor">
    <div class="container">
        <div class="row logos">
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/public/images/logo_01.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/public/images/logo_02.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/public/images/logo_03.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/public/images/logo_04.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/public/images/logo_05.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="/public/images/logo_06.png" alt="" class="img-repsonsive"></a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
