@model Project.Models.Faq

@{
    ViewData["Title"] = "Details";
}

<h1>Details FAQ</h1>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
