@model IEnumerable<Project.Models.DealersOrder>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .card_head {
        display: flex !important;
        justify-content: space-between !important;
    }

    .setup_title {
        font-size: 40px !important;
    }
</style>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 text-center mt-5 mb-4 setup_title">Dealers Order</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 card_head">
            <a asp-area="Admin" asp-action="Create" asp-controller="DealersOrder" class="btn btn-primary">Create new Order</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>GetDealer</th>
                            <th>GetSetUpBox</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>GetDealer</th>
                            <th>GetSetUpBox</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.GetDealer.ApplicationUser.UserName </td>
                                @if (item.dealers_id != null)
                                {
                                    <td class="text-warning">@item.GetDealer.user_id</td>
                                }
                                else if (item.GetSetUpBox != null)
                                {
                                    <td class="text-danger">@item.GetSetUpBox.name</td>
                                }
                                <td>@item.status</td>
                                <td>@item.date</td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.id" onclick="return confirm('Are you sure to delete?')">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript" src="/AssetAdmin/js/demo/datatables-demo.js"></script>
}